* {
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	background: black;
	color: ghostwhite;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

body * {
	margin: 1rem;
}